[Unit]
Description=NAS Web GUI
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/nas-web/app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
